@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  background: #440909;
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #440909;
}
::-webkit-scrollbar-thumb {
  background: #BE1818;
}
::-webkit-scrollbar-thumb:hover {
  background: #E74141;
}

.slide-fade-enter-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
  transition-delay: 0.1s;
}

.slide-fade-leave-active {
  position:absolute;
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from {
  transform: translateY(-20px);
}
.slide-fade-leave-to {
  transform: translateY(20px) ;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  opacity: 0;
}

.slide-profile-enter-active,
.slide-profile-leave-active {
  transition: all 0.1s ease-in-out;
}

.slide-profile-enter-from,
.slide-profile-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.fadeout-enter-active,
.fadeout-leave-active {
  transition: all 0.2s ease-in-out;
}

.fadeout-enter-from,
.fadeout-leave-to {
  opacity: 0;
}

.burn {
  mix-blend-mode: color-dodge !important;
}